@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, #061de3, #e306ca);
  font-family: "Open Sans", sans-serif;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 2em;
}

.title span {
  display: block;
  margin: 0;
}

.card-container {
  height: 60vh;
  width: 50vw;
  perspective: 800px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
}

.card {
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  /* flipping action */
  transition: transform 1500ms;
  /* treat as a 3D object and properly flip card */
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  backface-visibility: hidden;
}

.front {
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

button {
  background-color: #e306ca;
  border: none;
  border-radius: 0.5em;
  padding: 1em 0;
  font-size: 1.5rem;
  color: #fff;
  filter: contrast(80%);
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: auto;
}
